.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Nav bar */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #69c6ff;
  height: 50px;
  align-items: center;
}

a {
  /* This is a link */
  text-decoration: none;
  color: #b571c7;
  font-size: 20px;
  font-weight: bold;
}

/* home */
.home-component {
  /* position: relative; */
}

img {
  position: absolute;
  width: 100%;
  margin-left: -50%;
}

.text-component {
  position: relative;
  color: white;
}

.text-component h1 {
  font-size: 50px;
}

.text-component p {
  font-size: 30px;
}

.text-component button {
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* Signup */
.signup-componenet {
  background-color: #3cf2efc0;
  height: 800px;
}

/* Footer */
.footer {
  align-items: flex-end;
  margin-top: 300px;
  background-color: #3cf2ee;
  height: 50px;
}
